# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# VS Code
.vscode/

# Environment Variables
.env

# Python cache
.pytest_cache/
.mypy_cache/

# macOS
.DS_Store

# Windows
Thumbs.db

# Uploaded files
uploads/

# Logs
*.log.\.venv\Scripts\activate