/* ==========================================
   CURSOR GLOW
========================================== */

#cursor-glow{

    position:fixed;

    width:420px;

    height:420px;

    border-radius:50%;

    pointer-events:none;

    z-index:-3;

    transform:translate(-50%,-50%);

    background:

        radial-gradient(circle,

        rgba(96,165,250,.18),

        rgba(96,165,250,.08),

        transparent 72%);

    transition:

        left .08s linear,

        top .08s linear;

}