<footer class="footer">

    <div class="footer-content">

        <h2>FactShield</h2>

        <p>

            AI-Powered Fake News Detection and Credibility Analysis System

        </p>

        <div class="footer-links">

            <a href="#">Home</a>

            <a href="#features">Features</a>

            <a href="#workflow">Workflow</a>

            <a href="{{ url_for('analyze') }}">Analyze</a>

        </div>

        <small>

            © 2026 FactShield. Developed by Renzo Bien N. Gaon.

        </small>

    </div>

</footer>